
.vs/slnx.sqlite
.vs/skyguy-atlas/v17/.wsuo
.vs/skyguy-atlas/FileContentIndex/read.lock
.vs/skyguy-atlas/FileContentIndex/b0cfd34f-6f9b-431f-b2cc-ef18919df215.vsidx
.vs/skyguy-atlas/FileContentIndex/38f04087-9cfb-45b4-a3d0-d53dcd0378f7.vsidx
.vs/ProjectSettings.json
.vs/skyguy-atlas/FileContentIndex/d38aebb6-21b1-4e02-9923-53a95faec037.vsidx
*.vsidx
*.pyc
/.vs
*.pth
